<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"  type="text/css "/>
  </head>
  <body>
    <!-- Footer Wrapper -->
    <div th:fragment="footer">
      <footer id="footer" class="container">
        <center>
          <section>
            <br /><br />
            <h2>Blog Website by Duc Tien</h2>
            <a href="https://www.facebook.com/"
              ><i
                style="font-size: 36px; color: #4267b2; margin-right: 2rem"
                class="fab fa-facebook"
              ></i
            ></a>
            <a href="https://www.facebook.com/"
              ><i
                style="font-size: 36px; color: #405de6; margin-right: 2rem"
                class="fab fa-instagram"
              ></i
            ></a>
            <a href="https://www.youtube.com/"
              ><i
                style="font-size: 36px; color: #ff0000; margin-right: 2rem"
                class="fab fa-youtube"
              ></i
            ></a>
            <a href="/"
              ><i
                style="font-size: 36px; color: #1da1f2; margin-right: 2rem"
                class="fab fa-twitter"
              ></i
            ></a>
          </section>
          <div id="copyright">
            <ul class="menu">
              <li>&copy; Untitled. All rights reserved</li>
              <li>Design: <a href="/">Duc Tien</a></li>
            </ul>
          </div>
        </center>
      </footer>
    </div>
  </body>
</html>
