<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="scripts">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/jquery.dropotron.min.js}"></script>
        <script th:src="@{/js/browser.min.js}"></script>
        <script th:src="@{/js/breakpoints.min.js}"></script>
        <script th:src="@{/js/util.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </div>
</body>
</html>