{% extends 'pages/base.html' %} 
{% block title %} Edit Page {% endblock %} 
{% block content %}
<div id="main-wrapper">
  <div class="wrapper style3">
    <div class="inner">
      <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Edit Profile</h2>
        <div class="form-group">
          <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-secondary">Update Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
