{% extends "pages/base.html" %}
{% block title %} Blog {% endblock %} 
{% load static %}
{% block content %}
<div id="main-wrapper">
  <div class="wrapper style3">
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-12-medium">
            <!-- Article list -->
            <section class="box article-list">
              <h2 class="icon fa-file-alt">Bài đăng gần đây</h2>
              <!-- Excerpt -->
              {% for post in Posts %}
                <article class="box excerpt">
                <div class="row">
                  <div class="col-4">
                    <a href="/blog/{{post.id}}">
                      <img src="{{post.image.url}}" height="210px" width="350px" alt=""/>
                  </a>
                  </div>
                  <div class="col-8">
                    <header>
                      <span class="date">{{post.date|date:"d-m-Y"}}</span>
                      <h3><a href="{% url 'post' post.id%}">{{post.title}}</a></h3>
                    </header>
                    <p>{{post.description}}</p><hr>
                    <span>{{post.author}}</span><br><br><br>
                    <div style="margin-left:0px" class="row">
                      <a href="{{post.id}}" style="text-decoration:none; background-color: #7b818c; padding: 10px; border-radius:10px; color:white">Read More</a>
                      {% if user.is_superuser or user.id == post.author.id %}
                          <a href="delete_blog_post/{{post.id}}/" style="text-decoration:none; background-color: #7b818c; padding: 10px; border-radius:10px; color:white; margin-left:10px">Delete Blog</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </article>
              {% endfor %}
            </section>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
