{% extends 'pages/base.html' %}
{% block title %} Delete Blog Post {% endblock %}
{% block content %}
<div id="main-wrapper">
  <div class="wrapper style3">
    <div class="inner">
      <div class="container">
<form enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Are you sure you want to delete this blog?</h5>
          <form action="/delete_blog_post/{{posts.slug}}/" method="POST">				
            {% csrf_token %}
          <a class="button" href="/blog">Cancel</a>
          <button class="button">Delete Blog</button>
        </div>
      </div>
</form>
</div>
</div>
</div>
</div>
{% endblock %}



