<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="~{fragments/head :: header}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>

  <body>
    <div class="wrapper style1">
      <div class="inner">
        <section class="container box feature1">
          <h1>ĐĂNG NHẬP TÀI KHOẢN</h1>

          <div th:if="${param.error}" class="alert alert-danger">
            <p>Tên đăng nhập hoặc mật khẩu không đúng!</p>
          </div>
          <div th:if="${param.logout}" class="alert alert-success">
            <p>Bạn đã đăng xuất!</p>
          </div>

          <form th:action="@{/login}" method="post" class="box">
            <div class="form-input">
              <label for="email">Email:</label>
              <input type="text" id="email" name="username" placeholder="Nhập email" required />
            </div>
            <div class="form-input">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" placeholder="Nhập mật khẩu" required />
            </div>
            <button type="submit">ĐĂNG NHẬP</button>
          </form>
          <br />
          <a th:href="@{/register}">Chưa có tài khoản? Đăng ký</a>
        </section>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>

  </body>
</html>
